
// Colors

$black: #000000;
$red: #ed1c24;
$grey: #808080;

.background-red {
    background-color: $red;
}
.background-black {
    background-color: $black;
}

// Font Sizes

$font-large: 48px;
$font-medium: 36px;
$font-small: 24px;
    // 1500px sizes
    $font-large-1500: 36px;
    $font-medium-1500: 24px;
    $font-small-1500: 18px;
        // 1200px sizes
        $font-large-1200: 24px;
        $font-medium-1200: 18px;
        $font-small-1200: 18px;


// footer height
$footer-height: 30rem;
.footer-height {
    height: 30rem;
}

// Margins

// $margin-main: 32.5rem;
$margin-main-y: 8rem;
.margin-main-t {
    margin-top: $margin-main-y;
} 
.margin-main-b {
    margin-bottom: $margin-main-y;
} 

$margin-main: 0;

// Padding
$padding-main-y: 8rem;
.padding-main-y {
    padding: $padding-main-y 0;
} 
.padding-main-t {
    padding-top: $padding-main-y;
} 
.padding-main-b {
    padding-bottom: $padding-main-y;
} 

// Medium Padding
$padding-medium: 4rem;
.padding-medium-y {
    padding: $padding-medium 0;
} 
.padding-medium-t {
    padding-top: $padding-medium;
} 
.padding-medium-b {
    padding-bottom: $padding-medium;
} 

// Small Padding
$padding-small-y: 1rem;
.padding-small-y {
    padding: $padding-small-y 0;
} 
.padding-small-t {
    padding-top: $padding-small-y;
} 
.padding-small-b {
    padding-bottom: $padding-small-y;
} 

// Padding for the vertical image on about page
.padding-column-xl {
    padding-right: 4rem !important;
}
.padding-column-xr {
    padding-left: 4rem !important;
}

// Padding for product images
.padding-products-x {
    padding: 0 2rem;
}