


$black: #000000;
$red: #ed1c24;
$grey: #808080;
.background-red {
    background-color: $red;
}
.background-black {
    background-color: $black;
}

$font-large: 48px;
$font-medium: 36px;
$font-small: 24px;


// Margins

// $margin-main: 32.5rem;

$margin-main: 0;