.button {
    outline: none;
    border: none;
    border-radius: 0;
    border-style: none !important;
    background-color: $red;
    color: $white;
    font-family: "Arial Black";
    font-size: $font-small;
    padding: 1rem 2rem;
    &:hover {
        background-color: $black;
    }
    
}
@media ( max-width: 767px ) {
    .button { 
        font-size: $font-small-1200;
        padding: .75rem 1.5rem;

    }
}