#contact-form {
    padding-top: 2rem;
    .row {
        margin-left: -15px !important;
        margin-right: -15px !important;
        div[class^="col-"]:first-child {
            padding-right: 7.5px !important;
        }
        div[class^="col-"]:nth-child(2) {
            padding-left: 7.5px !important;
        }

    }
    .row:not(:first-child) {
        margin-top: 15px;
    }
    .button {
        margin-top: 2rem;
    }
}

.contact-form {

    &-input {
        color: $grey;
        border-top-style: none;
        border: 1px solid $grey;
        border-radius: 0;
        width: 100%;
        height: 6rem;
        padding-left: 2rem;
    }
    &-quote {
        color: $grey;
        border-top-style: none;
        border: 1px solid $grey;
        border-radius: 0;
        width: 100%;
        height: 12rem;
        margin-top: 15px;
        padding: 1.5rem 0 0 2rem;
        border: 1px solid $grey;
    }
    
}
@media ( max-width: 1200px ) {
   
    .contact-form {
        &-input {
            border-radius: 0;
            border-style: solid;
            font-size: $font-small-1500;
            height: 4rem;
        }
        &-quote {
            border-radius: 0;
            border-style: solid;
            font-size: $font-small-1500;
            height: 8rem;
        }
    }
    @media ( max-width: 767px ) {
        #contact-form {
            .row {
                margin-left: 0 !important;
                margin-right: 0 !important;
                div[class^="col-"]:first-child {
                    padding-right: 0 !important;
                }
                div[class^="col-"]:nth-child(2) {
                    padding-left: 0 !important;
                    padding-top: 5px;
                }
                div[class^="col-"] {
                    padding-right: 0 !important;
                }
                div[class^="col-"] {
                    padding-left: 0 !important;
                }
            }
            .row:not(:first-child) {
                margin-top: 5px;
            }
        }
        .contact-form {
            &-quote {
                margin-top: 5px;
            }
        }
    }
}