nav.navbar {
    padding: 1rem 0;
    font-size: $font-medium;
    font-style: italic;
    color: white;
    
    .bullet {
        color: $black;
    }
    .active::before {
        position: absolute;
        color: black;
        content: '●';
    }
    li {
        position: relative;
    }
    li:not(:first-child) { 
        margin-left: 9rem; 
        .active::before {
            left: -3rem;
        }
    }
    li:first-child {
        padding-left: 2.5rem;
        .active::before {
            left: -.5rem;
        }
    }
    @media ( max-width: 1500px ) {
        li { font-size: $font-medium-1500; }
        li:not(:first-child) { 
            margin-left: 5rem; 
            .active::before {
                left: -2rem;
            }
        }
        li:first-child {
            padding-left: 4rem;
            .active::before {
                left: 2rem;
            }
        }
    }
    @media ( max-width: 1200px ) {
        li { font-size: $font-medium-1200; }
        li:not(:first-child) { 
            .active::before {
                left: -1rem;
            }
        }
        li:first-child {
            .active::before {
                left: 3rem;
            }
        }
    }
    @media ( max-width: 991px ) {
        li:not(:first-child) { 
            margin-left: 1.5rem; 
            .active::before {
                left: -1.85rem;
            }
        }
        li:first-child {
            margin-left: -2.4rem; 
            .active::before {
                left: 2rem;
            }
        }
    }
}
.navbar-menu-text {
    color: $white;
}
button.navbar-toggler {
   border-color: $white !important;
   margin-left: 15px;
}

